# common side
/.cache/
.vscode/
/crash-reports/
/defaultcinfigs/
/emi.json/
/lhInitItem/
/local/
/logs/
/coremods/
/options.txt
/patchouli_books/
/patchouli_data.json
/PCL/
/resourcepacks/
/rhino.local.properties
/saves/
/schematics/
/screenshots/
/shaderpacks/
/The Magical Industry-natives/
/The Magical Industry.jar
/The Magical Industry.json
/thingpacks/
/tlm_custom_pack/
/usercache.json
/usernamecache.json
/.idea/

# config
config/Advancedperipherals/
config/akashictome-common.toml
config/alexscaves-client.toml
config/alexscaves-general.toml
config/alexscaves_biome_generation
config/amendments-client.toml
config/amendments-common.toml
config/anvilcraft.json5
config/appleskin-client.toml
config/arsdelight-common.toml
config/ars_additions/
config/ars_additions-common.toml
config/ars_additions-server.toml
config/ars_creo-common.toml
config/ars_elemental/
config/ars_elemental-client.toml
config/ars_elemental-common.toml
config/ars_nouveau/
config/ars_nouveau-client.toml
config/ars_nouveau-common.toml
config/ars_nouveau-server.toml
config/ars_technica
config/betterfpsdist.json
config/cat_loaf.json
config/chloride-client.json
config/chunky/
config/citadel-common.toml
config/computercraft-client.toml
config/copycats-client.toml
config/copycats-common.toml
config/corgilib/
config/CoroUtil/
config/create-client.toml
config/create-common.toml
config/createaddition-common.toml
config/createbigcannons-client.toml
config/createcobblestone-common.toml
config/createdynlight-client.toml
config/createtweakedcontrollers-client.toml
config/create_basic_additions-common.toml
config/create_central_kitchen-common.toml
config/create_connected-common.toml
config/create_jetpack-client.toml
config/create_jetpack-common.toml
config/crockpot-client.toml
config/crockpot-common.toml
config/cupboard.json
config/curios-client.toml
config/curios-common.toml
displaydelight-common.toml
config/DistantHorizons.toml
config/do_a_barrel_roll-client.json
config/do_a_barrel_roll-server.json
config/dynamic_fps.json
config/embeddium-fingerprint.json
config/embeddium-mixins.properties
config/embeddium-options.json
config/emi.css
config/emi_loot_config.toml
config/enchdesc.json
config/enhancedai/
config/exposure-client.toml
config/exposure-common.toml
config/extendedgears-common.toml
config/farmersdelight-client.toml
config/farmersdelight-common.toml
config/ferritecore-mixin.toml
config/flywheel-client.toml
config/fml.toml
config/forge-client.toml
config/ftbxmodcompat.snbt
config/fzzy_config
config/hexcasting-client.toml
config/hexcasting-common.toml
config/Hexerei-client.toml
config/Hexerei-common.toml
config/hex_ars_link-common.toml
config/illager-additions-common.toml
config/immersive_aircraft.json
config/immersive_melodies.json
config/inline
config/insanelib-common.toml
config/inventoryprofilesnext
config/jade
config/jecharacters.toml
config/jei
config/l2_configs
config/leawind_third_person.json
config/lhmiracleroad-common.toml
config/lootr-client.toml
config/lootr-common.toml
config/mafglib.json
config/maidsoulkitchen-common.toml
config/mantle-client.toml
config/memorysweep.json
config/memorysweep.json5
config/moonlight-client.toml
config/moonlight-common.toml
config/moreburners-client.toml
config/moreburners-common.toml
config/MouseTweaks.cfg
config/nvidium-config.json
config/oculus.properties
config/packetfixer.properties
config/parcool-client.toml
config/patchouli-client.toml
config/paucal-common.toml
config/polymorph-integrations.toml
config/railways-client.toml
config/railways-common.toml
config/refinedstorage-client.toml
config/RuOK.toml
config/servercore
config/sidebar_buttons.json
config/skinlayers.json
config/skinrestorer
config/smart_pot-client.toml
config/spark
config/starbunclemania
config/starbunclemania-server.toml
config/supplementaries-client.toml
config/supplementaries-common.toml
config/sweeper_maid-common.toml
config/tconstruct-client.toml
config/tconstruct-common.toml
config/touhou_little_maid/
config/touhou_little_maid-common.toml
config/tweakerge.json
config/watut-client.toml
config/watut-common.toml
config/watut-item-arm-adjustments.json
config/watut-server.toml
config/weaponmaster-client.toml
config/weaponmaster-common.toml
config/yes_steve_model
config/yes_steve_model-common.toml
config/youkaishomecoming-client.toml
config/youkaishomecoming-common.toml

#coremod
# eclipse
coremod/bin
coremod/*.launch
coremod/.settings
coremod/.metadata
coremod/.classpath
coremod/.project

# idea
coremod/out
coremod/*.ipr
coremod/*.iws
coremod/*.iml
coremod/.idea/

# gradle
coremod/build
coremod/.gradle/
coremod/settings.gradle

# other
coremod/eclipse
coremod/run/

# Files from Forge MDK
coremod/forge*changelog.txt

#useless files
CREDITS.txt
LICENSE.txt
README.txt
